aside#aside {
	width: 500px;
	min-height: 100vh;
	background-color: $md-blue;
	position: absolute;
	z-index: 10;

	&.closed {
		left: -500px;
		transition: left ease-in-out 0.5s;
		-moz-transition: left ease-in-out 0.5s;
		
		#aside-expand-btn {
			padding: 11px 15px 9px 15px;

			img {
				transform: rotate(0deg);
				transition: rotate ease-in-out 0.2s;
				-moz-transition: rotate ease-in-out 0.2s;
			}
		}
	}

	&.open {
		left: 0;
		transition: left ease-in-out 0.5s;
		-moz-transition: left ease-in-out 0.5s;

		#aside-expand-btn img {
			transition: rotate ease-in-out 0.2s;
			-moz-transition: rotate ease-in-out 0.2s;
			transform: rotate(180deg);
		}
	}

	#aside-expand-btn {
		position: absolute;
		right: -47px;
		top: 10px;
		background: $dk-blue;
		padding: 11px 20px 9px 10px;
		border-radius: 0 50% 50% 0;
		cursor: pointer;

		img { height: 20px; }

	}

	header {
		background-color: $dk-blue;
		padding: 30px;

		div {
			cursor: pointer;

			svg {
				background-color: $yellow;
				fill: $lt-gray;
				height: 25px;
				border: 10px solid $yellow;
				border-radius: 50%;
				vertical-align: middle;
				margin-right: 15px;
			}
		
			span {
				font-family: 'Seaweed Script', cursive;
				font-size: 35px;
				vertical-align: middle;
				color: $white;
			}

		}

	}

	main {
		padding: 30px;

		li {
			margin-bottom: 20px;
			cursor: pointer;
			position: relative;

			.list-icon {
				height: 30px;
				vertical-align: middle;
				margin-right: 10px;
			}
	
			span {
				font-size: 25px;
				color: $white;
				vertical-align: middle;
			}

			.list-details-btn {
				height: 20px;
				fill: transparent;
				cursor: pointer;
				position: absolute;
				top: 5px;
				right: 0;
			}

			&:hover {

				.list-details-btn {
					fill: $lt-blue;
					transition: all ease-in-out 0.1s;
				}

			}

		}
	
	}

	footer {
		font-size: 12px;
		color: $white;
		position: absolute;
		bottom: 120px;
		left: 30px;

		a {
			color: $white;

			&:hover, &:focus {
				color: $yellow;
			}

		}

	}

}