section#list {
	width: 700px;
	margin: 0 auto;

	header {
		padding-top: 50px;
		text-align: center;
		position: relative;

		h2 {
			color: $white;
			position: relative;
	
			&:after {
				content: '';
				position: absolute;
				height: 40px;
				width: 400px;
				z-index: -1;
				left: 150px;
				top: 7px;
				background-color: $md-blue;
			}
	
		}

		img.decor {
			position: absolute;
			z-index: 2;
		
			&:nth-child(1) {
				height: 45px;
				top: 30px;
				left: 125px;
				transform: rotate(30deg);
			}
	
			&:nth-child(2) {
				height: 13px;
				top: 40px;
				left: 60px;
			}
	
			&:nth-child(3) {
				height: 17px;
				top: 79px;
				left: 82px;
				transform: rotate(60deg);
			}

			&:nth-child(4) {
				height: 13px;
				top: 19px;
				right: 110px;
			}
	
			&:nth-child(5) {
				height: 9px;
				top: 35px;
				right: 135px;
				transform: rotate(60deg);
			}
		
		}
		
	}

	main {
		
		#chore-list {
			
			li {
				display: grid;
				grid-template-columns: 7fr repeat(2, 1fr);
				background-image: url('../img/chore-bg.svg');
				background-size: 100% 100%;
				background-position: center;
				margin: 20px 0;
				padding: 10px;
				font-size: 25px;
			}

		}

	}
	
}