#new-chore-modal {
    height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	align-content: center;
	justify-content: center;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;

    &.hide { display: none; }
    
    form {
        background-color: $lt-gray;
        padding: 50px;
        display: grid;

        h2 {
            margin-bottom: 20px;
        }

        input, textarea, select {
            margin-bottom: 20px;
        }
    }

}