@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Seaweed+Script&display=swap');
@import 'base/baseIndex';
@import 'components/componentsIndex';

body {
	font-family: 'Lora', sans-serif;
	font-size: 20px;
	font-weight: 400;
	background-color: $lt-blue;
	color: $black;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Seaweed Script', cursive;
		font-size: 50px;
		font-weight: 400;
	}

	.hide { display: none; }
	
	padding-bottom: 500px;

}

main#main {
	position: relative;
}