@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Seaweed+Script&display=swap');
@import 'base/baseIndex';
@import 'components/componentsIndex';

body {
	font-family: 'Lora', sans-serif;
	font-size: 20px;
	font-weight: 400;
	background-color: $lt-blue;
	color: $black;
	padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Seaweed Script', cursive;
	font-size: 50px;
	font-weight: 400;
	color: $dk-blue;
	text-align: center;
}

.hide { display: none; }

input, textarea, select {
	background-color: $white;
	border: none;
	font-family: 'Lora', sans-serif;
	font-size: 20px;
	padding: 4px 8px;
}

.btn {
	background-color: $dk-blue;
	color: $white;
	padding: 4px 8px;
	font-family: 'Seaweed Script', cursive;
	font-size: 25px;
	width: max-content;
	margin: 0 auto;
	cursor: pointer;
}

#logout-btn {
	background-image: url('../img/logout-bg.svg');
	background-size: 100% 100%;
	color: $white;
	padding: 10px 15px;
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: 'Seaweed Script', cursive;
	font-size: 25px;
	cursor: pointer;
}

main#main { position: relative; }